{% unless entry.preprint == "true" %}
<div class="pub-entry pub-type-{{ entry.type }}">
  <div class="pub-title">{{ entry.title }}</div>

  <div class="pub-authors">
    {% assign authors = entry.author_array %}
    {% for author in authors -%}
      {%- if author.first -%}{{ author.first }} {% endif -%}
      {%- if author.von -%}{{ author.von }} {% endif -%}
      {%- if author.last -%}{{ author.last }}{% endif -%}
      {%- if author.jr -%}, {{ author.jr }}{% endif -%}
      {%- unless forloop.last -%}{% if forloop.rindex == 2 %} and {% else %}, {% endif %}{%- endunless -%}
    {%- endfor %}
  </div>

  <div class="pub-venue">
    {% if entry.booktitle -%}
      <em>{{ entry.booktitle }}</em>
    {%- elsif entry.journal -%}
      <em>{{ entry.journal }}</em>
    {%- elsif entry.publisher -%}
      <em>{{ entry.publisher }}</em>
    {%- elsif entry.school -%}
      <em>{{ entry.school }}</em>
    {%- endif -%}{% if entry.year %}, {{ entry.year }}{% endif %}
  </div>

  {% if entry.award %}
    <div class="pub-award">{{ entry.award }}</div>
  {% endif %}

  <div class="pub-links">
    <a href="{{ '/papers/' | append: entry.key | append: '.pdf' | relative_url }}" title="PDF" aria-label="PDF">
      <i class="fas fa-file-pdf"></i>
    </a>

    <a href="{{ '/slides/' | append: entry.key | append: '.pdf' | relative_url }}" title="Slides" aria-label="Slides">
      <i class="fas fa-images"></i>
    </a>

  {% if entry.code %}
    <a href="{{ entry.code }}" title="Code" aria-label="Code">
      <i class="fas fa-code"></i>
    </a>
  {% endif %}
</div>
{% endunless %}