{% include base.html %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% if page.title == "Anurag Khandelwal" %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | Anurag Khandelwal</title>
    {% endif %}
    <meta name="description" content="The academic webpage of Anurag Khandelwal.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tooltip" content="Anurag Khandelwal academic webpage">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ base }}/css/styles.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="{{ base }}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ base }}/favicon.ico" type="image/x-icon">

    {%include google-analytics.html %}
  </head>

  <body>

    <div class="wrapper">

      {% comment %}

      The header section. Contains title, navbar links, a picture, and
      external links.

      {% endcomment %}
      <header>
        <center>
          <h1>
            <a href="/">Anurag<b>Khandelwal</b></a>
            <!--
            <ul>
              <li><a href="/projects/">projects</a></li>
              <li><a href="http://musingsofaboredmind.com/">blog</a></li>
              <li><a href="/cv/">cv</a></li>
            </ul>
            !-->
          </h1>
          <div class="img-frame"><img src="{{ base }}/images/me.jpg" width="180" height="180"/></div>
          {% comment %} External Links {% endcomment %}
          <ul>
            <li><a href="{{ base }}/cv/CV.pdf" target="_blank">Resume</a></li>
            <li><a href="https://github.com/anuragkh" target="_blank">GitHub</a></li>
            <li><a href="http://www.linkedin.com/in/anuragkh" target="_blank">LinkedIn</a></li>
          </ul>
        </center>
      </header>

      <section>
        {% comment %}

        The page.date and page.render_post variables are used as a sentinel
        to find out if we are rendering a post. If either are present,
        we use the post style.

        {% endcomment %}
        {% if page.date or page.render_post %}
          <div id="post">
            <h1 class="title">{{ page.title }}</h1>
            <h1 class="title" id="hidden-title"></h1>
        {% endif %}

        {{ content }}

        {% if page.date or page.render_post %}
            <div class="nav">
              <hr>

              <div class="next">
                {% if page.next %}
                <a href="{{ page.next.url }}" title="Read the previous post">Newer post</a>
                {% else %}
                <a href="/#posts" title="Return to home page">Read more</a>
                {% endif %}
              </div>

              <div class="previous">
                {% if page.previous %}
                <a href="{{ page.previous.url }}" title="Read the previous post">Older post</a>
                {% else %}
                <a href="/#posts" title="Return to home page">Read more</a>
                {% endif %}
              </div>

              {% if page.date %}
              <div class="date">
                {{ page.date | date_to_string }}
              </div>
              {% endif %}
          </div>
        {% endif %}
      </section>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/js/site.min.js"></script>
  </body>
</html>
