<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% comment %}

    We check to see what the page title is before appending
    "| Chris Cummins" to it, as otherwise this would result with an
    index title of "Chris Cummins | Chris Cummins".

    {% endcomment %}
    {% if page.title == "Anurag Khandelwal" %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | Anurag Khandelwal</title>
    {% endif %}
    <meta name="description" content="The academic webpage of Anurag Khandelwal.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tooltip" content="Anurag Khandelwal academic webpage">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {%include google-analytics.html %}
  </head>

  <body>

    <div class="wrapper">

      {% comment %}

      The header section. Contains title, navbar links, a picture, and
      external links.

      {% endcomment %}
      <header>
        <center>
          <h1>
            <a href="/">Anurag<b>Khandelwal</b></a>
            <!--
            <ul>
              <li><a href="/projects/">projects</a></li>
              <li><a href="http://musingsofaboredmind.com/">blog</a></li>
              <li><a href="/cv/">cv</a></li>
            </ul>
            !-->
          </h1>
          <div class="img-frame"><img src="/images/me.jpg" width="180" height="180"/></div>
          {% comment %} External Links {% endcomment %}
          <ul>
            <li><a href="https://github.com/anuragkh" target="_blank">GitHub</a></li>
            <li><a href="http://www.linkedin.com/in/anuragkh" target="_blank">LinkedIn</a></li>
            <li><a href="http://www.facebook.com/anurag.khandelwal" target="_blank">Facebook</a></li>
          </ul>
        </center>
      </header>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/js/site.min.js"></script>
  </body>
</html>
